@font-face {
  font-family: "iconfont"; /* Project id 3383636 */
  src: url('iconfont.woff2?t=1655783300071') format('woff2'),
       url('iconfont.woff?t=1655783300071') format('woff'),
       url('iconfont.ttf?t=1655783300071') format('truetype'),
       url('iconfont.svg?t=1655783300071#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-h-shanchu:before {
  content: "\e74b";
}

.icon-h-xitongpeizhi:before {
  content: "\e626";
}

.icon-h-quanping:before {
  content: "\e627";
}

.icon-h-jichupeizhi:before {
  content: "\e62b";
}

.icon-h-moban:before {
  content: "\e623";
}

.icon-h-yulan:before {
  content: "\e668";
}

.icon-h-kucunliang:before {
  content: "\e647";
}

.icon-h-jiegou:before {
  content: "\e755";
}

.icon-h-fuzhi:before {
  content: "\e656";
}

.icon-h-yidong_huaban:before {
  content: "\e622";
}

.icon-h-huadonganniux:before {
  content: "\e62e";
}

.icon-h-shangebuju:before {
  content: "\e6d3";
}

.icon-h-input:before {
  content: "\e619";
}

.icon-h-textarea:before {
  content: "\e62f";
}

.icon-h-anniu:before {
  content: "\e638";
}

.icon-h-pingfen1:before {
  content: "\e61b";
}

.icon-h-redo:before {
  content: "\e7cf";
}

.icon-h-undo:before {
  content: "\e822";
}

.icon-h-baocun:before {
  content: "\e644";
}

